
# Ignore sensitive files only (blacklist mode)
.env

audio/
bot/
#config/
# Full config with sensitive
config/icecast/icecast.xml 
# Full Nginx config
config/nginx/vtrnk_radio.conf  
config/systemd
data/
hls/
images/
liquidsoap/
logs/
# player/
scripts/
venv/
# web/
web/schedule.html
web/tracks.html
web/stream.html
