
# Ignore sensitive files only (blacklist mode)
.env

audio/
# bot/
bot/vtrnk_bot.py
bot/bot.py


#config/

# Full config with sensitive
config/icecast/icecast.xml 
config/icecast/icecast_v2.xml
# Full Nginx config
config/nginx/vtrnk_radio.conf  
config/systemd

data/
data/temp/
*.tmp

hls/

images/

# liquidsoap/
liquidsoap/radio.liq
liquidsoap/radio_v2.liq
liquidsoap/radio_v2.liq.bak
liquidsoap/radio_min.liq

logs/
*.log

# player/


#scripts/
scripts/clean_logs.sh
scripts/cleanup.sh
scripts/test_radio_player.py
scripts/update_cover.py
scripts/update_metadata.py
scripts/monitor_stream.py

venv/
# web/
web/schedule.html
web/tracks.html
# web/stream.html
__pycache__/
*.pyc
.pytest_cache/

# Локальные конфигурации
.vscode
*.swp

# Системные файлы
#       Для macOS
.DS_Store
#       Для Windows
Thumbs.db